include ../svgiconsmodule/svgicons.pug
include ../upbuttonmodule/upbutton.pug

header
    include ../menumodule/menu.pug
    include ../artscontentmodule/herosection.pug

main: include ../artscontentmodule/artscontent.pug
footer: include ../footermodule/footer.pug