//- footer structure
#footer
    section#sponsors-section 
        h1 Sponsors
        #sponsors-content-grid
            a.sponsor-content(href="#link-to-your-page") Here Could be your Content!
            a.sponsor-content(href="#link-to-your-page") Here Could be your Content!
    section#partners-section 
        h1 Partners
        #partners-content-grid
            a.partner-content(href="#link-to-your-page") Here Could be your Content!
    section#footer-bottom 
        #footer-bottom-left
            h2 Latest Posts
            ul
                li: a(href="/skyscraperinitiative.html") Skyscraper Leadership Initiative
                li: a(href="/ariseinitiatives.html") Arise Legacy Initiative
                li: a(href="/extendahandinitiatives.html") XtendAHand Love Initiative
                li: a(href="/extendahandinitiatives.html") Arts and Crafts Initiative

                //- li: a(href="/article2.html") article 2
                //- li: a(href="/article1.html") article 1
        #footer-bottom-middle
            h2 Legal
            p Registered as ... in ...
            p Located at ...
        #footer-bottom-right
            h2 Contact
            a#email-contact(href="mailto:annobilleadsnetwork@gmail.com")
                svg: use(href="#svg-email-icon")
                #email-text annobilleadsnetwork@gmail.com
            #social-media-buttons
                a#linkedin-button(href="https://www.linkedin.com/in/mabel-annobil-7492941ba/"): svg: use(href="#svg-linkedin-icon")
                a#instagram-button(href="https://instagram.com/annobilleads"): svg: use(href="#svg-instagram-icon")

