// footer styles
#footer
    width 100%
    background-color cd-ghana-green
    padding 80px 20px
    // padding-bottom 40px
    box-sizing: border-box

#sponsors-content-grid
    display flex
    flex-wrap: wrap
    gap 20px
    padding 20px

    .sponsor-content
        height 140px
        width 240px
        box-shadow: 0 0 5px alpha(#000, 0.2)
        border-radius: 3px
        line-height: 140px
        text-align: center

#partners-content-grid
    display flex
    gap 20px
    padding 20px

    .partner-content
        height 140px
        width 240px
        box-shadow: 0 0 5px alpha(#000, 0.2)
        border-radius: 3px
        line-height: 140px
        text-align: center

#footer-bottom
    border-top solid 1px cd-ghana-yellow
    margin-top 100px
    padding-top 20px
    display flex
    flex-wrap: wrap
    gap 20px
    align-items: flex-start
    justify-content: space-between

    h2
        margin-bottom 10px
    ul
        list-style: square
        margin-left 20px
        line-height: 25px

    p
        line-height: 20px

#email-contact
    display flex
    align-items: center
    svg
        height 25px
        width 25px
        margin-right 10px

#social-media-buttons
    margin-top 20px
    svg
        height 40px
        width 40px
        margin-left -5px        
        margin-right 10px
