//- annobilleadscontent structure
#content
    section#about-us-section
        h1 About Us 
        
        #about-us-container
            p We focus on creating opportunities and good environments making a direct impact on child education and security, providing solutions to curb the menace of teenage pregnancy, poverty alleviation programs and making donations to the less privileged.

            p Mabel Annobil, the founder of the Annobil Leads Network with first hand experiences of numerous life struggles suffered painful ordeals from childhood to adutlhood which served as motivating factors birthing this vision.
            img(src="/img/mabel_small.webp")

            h2 Motivation and Dream
            p I lost my mother before I was 8 years old, and it happened right before my eyes. The traumatic experience stayed with me until I got liberated out of pure satisfaction and fulfilment during my first personal donation to the orphans.

            p As a victim of broken home, I never knew my father so I turned to the streets where I slept sometimes in front of churches and open spaces for survival and safety. By divine providence, I narrowly escaped multiple death and rape encounters

            p Later in life as a Nanny I was maltreated, cheated and abused on countless occassions and that lead me to return to my home country.

            p I have been in a position to receive help and also been positioned to be of help. So I love, I care and I serve humanity with passion and understanding. To fight for the hopeless, help the helpless and speak for the voiceless.

            p I am a voice, a leader and a mystery. A definition of strength, character and bravery.

            p A soul delivered, a heart renewed and a life restored!


    section
        h1 How To Help
        p 

        .container
            a.blog-link(href="/skyscraperinitiative.html")
                img(src="https://i.imgur.com/YQb1MEZ.jpg" alt="Illustrative Image for Skyscraper Leadership initiative Link")
                h2 Skyscraper Leadership Initiative

            a.blog-link(href="/extendahandinitiative.html")
                img(src="https://i.imgur.com/lPLsAk4.jpg" alt="Illustrative Image for XtendAHand Love initiative Link")
                h2 XtendAHand Love Initiative

            a.blog-link(href="/ariseinitiative.html")
                img(src="https://i.imgur.com/a6U9f9e.jpg" alt="Illustrative Image for Arise Legacy initiative Link")
                h2 Arise Legacy Initiative

            a.blog-link(href="/artsinitiative.html")
                img(src="https://i.imgur.com/R953tVx.jpg" alt="Illustrative Image for Arts and Crafts initiative Link")
                h2 Arts and Crafts Initiative
    
    section
        p We wish to encourage tourists, art lovers, collectors of antique designs, ancient and artistic impressions to share in the unique culture, heritage and history of Ghana and carry with them the extraordinary experience and the beautiful spirit of this hospitable country

        a.page-link(href="/arts.html") Check Arts

        p Donors, Partners and sponsors therefore have the opportunity to donate and receive an artwork of their choice.

        a.page-link(href="/donation.html") Check Donations

        p All proceeds received from this initiative will be donated to the Annobil Leads Fund which will contribute to the implementation and success of the organization's initiatives.
