/*==============================================================================
RESET
==============================================================================*/
@import '../stylereset/reset.styl'

/*==============================================================================
Global Styles
==============================================================================*/
@import '../globalstyles/styles.styl'

/*==============================================================================
Including other components
==============================================================================*/
@import '../allmodules/allstyles.styl'


/*==============================================================================
Index specific styles
==============================================================================*/
#donation-link
    pointer-events: none
    color black

#hero-section
    background-image url("/img/richmond-osei-393qHuI2ans-unsplash.webp")
