include ../svgiconsmodule/svgicons.pug
include ../upbuttonmodule/upbutton.pug

header
    include ../menumodule/menu.pug
    include ../donationcontentmodule/herosection.pug

main: include ../donationcontentmodule/donationcontent.pug
footer: include ../footermodule/footer.pug