/*==============================================================================
RESET
==============================================================================*/
@import '../stylereset/reset.styl'

/*==============================================================================
Global Styles
==============================================================================*/
@import '../globalstyles/styles.styl'

/*==============================================================================
Including other components
==============================================================================*/
@import '../allmodules/allstyles.styl'


/*==============================================================================
Index specific styles
==============================================================================*/
#home-link
    pointer-events: none
    color black

#hero-section
    // background-image: url("https://i.imgur.com/YQb1MEZ.jpg")
    background-image: url("https://i.imgur.com/l5S3z6d.jpg")
    