include ../svgiconsmodule/svgicons.pug
include ../upbuttonmodule/upbutton.pug

header
    include ../menumodule/menu.pug
    include ../homecontentmodule/herosection.pug

main: include ../homecontentmodule/homecontent.pug
footer: include ../footermodule/footer.pug