include ../svgiconsmodule/svgicons.pug
include ../upbuttonmodule/upbutton.pug

header
    include ../menumodule/menu.pug
    include herosection.pug

main: #content:     include:markdown-it(html) ../../ressources/mdcontent/ariseinitiatives.md

footer: include ../footermodule/footer.pug