include ../svgiconsmodule/svgicons.pug
include ../upbuttonmodule/upbutton.pug

header
    include ../menumodule/menu.pug
    include ../projectcontentmodule/herosection.pug

main: include ../projectcontentmodule/projectcontent.pug
footer: include ../footermodule/footer.pug