include ../svgiconsmodule/svgicons.pug
include ../upbuttonmodule/upbutton.pug

header
    include ../menumodule/menu.pug
    include ../guidecontentmodule/herosection.pug

main: include ../guidecontentmodule/guidecontent.pug
footer: include ../footermodule/footer.pug