include ../svgiconsmodule/svgicons.pug
include ../upbuttonmodule/upbutton.pug

header
    include ../menumodule/menu.pug
    include ../blogcontentmodule/herosection.pug

main: include ../blogcontentmodule/blogcontent.pug
footer: include ../footermodule/footer.pug