//- header structure
#header
    nav#header-navigation
        a#home-link.nav-link(href="/") Annobil Leads
        a#blog-link.nav-link(href="/blog.html") Blog 
        a#guide-link.nav-link(href="/guide.html") Travel Guide
        a#project-link.nav-link(href="/project.html") My Heart Project
            svg: use(href="#svg-heart-icon")
        button#menu-button.click-button: svg: use(href="#svg-menu-icon")
        button#close-button.click-button: svg: use(href="#svg-cross-icon")
