// menu styles

#header-navigation
    display flex
    background-color cd-ghana-red
    color white
    align-items: center
    padding 0 20px
    font-size 12pt
    box-shadow: 0 0 15px alpha(#000, 0.2)
    position relative
    z-index: 2

    .nav-link
        padding 20px
        cursor pointer
        font-weight: bold
        line-height: 30px
    .nav-link:hover
        // text-decoration: underline
        background-color #fff6
    #home-link
        margin-right auto
        text-transform: uppercase
    svg
        position: relative
        top 3px
        height 20px
        width 20px

#menu-button
#close-button
    display none
    position absolute
    top 20px
    right 20px
    width 30px
    height 30px
    color white
    svg
        top 0
        width 30px
        height 30px

.open-menu
    #menu-button
        opacity: 0
        pointer-events: none
    #close-button
        opacity: 1
        pointer-events: all

    #blog-link
        display: block
    #guide-link
        display: block
    #project-link
        display: block
    #arts-link
        display: block
    #donation-link
        display: block

    #header-navigation
        flex-direction: column
        padding-bottom 30px


@media mobilescreen
    #header-navigation
        padding-right 60px
    #menu-button
        display block
        opacity: 1
        pointer-events: all
    #close-button
        display block
        opacity: 0
        pointer-events: none
    .nav-link
        margin-left 30px
        margin-right auto

    #home-link
        margin-left 0
        // margin-right auto !important

    #blog-link
        display: none
    #guide-link
        display: none
    #project-link
        display: none
    #arts-link
        display: none
    #donation-link
        display: none
