//- projectcontent structure
#content
    h1 The Project 

    img(src="https://i.imgur.com/YQb1MEZ.jpg" alt="Happy group of children after receiving a donation of shoes")

    p Goal: To improve livelihoods, provide quality and substainable education accessible to all.

    p Vision: Raising the next generation of leaders to become solutions to global challenges.
