//- projectcontent structure
#content
    section
        h1 One Time Donation
        p You like what we do and want to support us with a single donation.

        p You are at the right place. 

        button Paypal Payment Options

        h2 Gift for Donation
        p For Large Donations we want to thank you with our arts and crafts.

        h3 Tier 1:  less than 200$
        button Options of crafts to pick

        h3 Tier 2: more than 200$ 
        button Options of crafts to pick

        h3 Tier 3: more than 500$ 
        button Options of crafts to pick

        h3 Tier 4: more than 1000$
        button Options of crafts to pick

    section
        h1 Become a Sponsor
        p You want to support us on a regular basis?

        p We want you to contact us!
        
        button Contact Options

        p We will be happy to talk and present your graphics with link as advertisement in our <a href="#footer">footer</a>.

    section
        h1 Become a Partner
        p  Your Mission is in alignment with ours?

        p Cooperativly we may achieve more and increase our effecitveness.
        p Give us a call or write us a message - we will be glad you did.

        button Contact Options