include ../svgiconsmodule/svgicons.pug
include ../upbuttonmodule/upbutton.pug

header
    include ../menumodule/menu.pug
    include ../blogcontentmodule/herosection.pug

main: #content:     include:markdown-it(html) ../../ressources/mdcontent/extendahandinitiatives.md

footer: include ../footermodule/footer.pug