/*==============================================================================
RESET
==============================================================================*/
@import '../stylereset/reset.styl'

/*==============================================================================
Global Styles
==============================================================================*/
@import '../globalstyles/styles.styl'

/*==============================================================================
Including other components
==============================================================================*/
@import '../allmodules/allstyles.styl'


/*==============================================================================
Index specific styles
==============================================================================*/
#blog-link
    pointer-events: none
    color black