//- blogcontent structure
#content
    section
        h1 Search
    
    section
        h1 All Blogs

        .container
            a.blog-link(href="/skyscraperinitiative.html")
                img(src="https://i.imgur.com/YQb1MEZ.jpg" alt="Illustrative Image for Skyscraper Leadership initiative Link")
                h2 Skyscraper Leadership Initiative

            a.blog-link(href="/extendahandinitiative.html")
                img(src="https://i.imgur.com/lPLsAk4.jpg" alt="Illustrative Image for XtendAHand Love initiative Link")
                h2 XtendAHand Love Initiative

            a.blog-link(href="/ariseinitiative.html")
                img(src="https://i.imgur.com/a6U9f9e.jpg" alt="Illustrative Image for Arise Legacy initiative Link")
                h2 Arise Legacy Initiative

            a.blog-link(href="/artsinitiative.html")
                img(src="https://i.imgur.com/R953tVx.jpg" alt="Illustrative Image for Arts and Crafts initiative Link")
                h2 Arts and Crafts Initiative
